.304_7 { 
	overflow:hidden;
}.e304_7 { 
	width:1440px;
	height:8208px;
	position:absolute;
}.e1_6970 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:8208px;
	position:absolute;
	left:0px;
	top:0px;
}.e3_486 { 
	width:1126px;
	height:262px;
	position:absolute;
	left:167px;
	top:7628px;
}.e3_487 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:368px;
	height:68.8484878540039px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e3_488 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:1126px;
	height:206px;
	position:absolute;
	left:0px;
	top:56px;
	font-family:Rubik;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e3_483 { 
	width:535px;
	height:40px;
	position:absolute;
	left:167px;
	top:7359px;
}.e3_484 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:535px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e3_457 { 
	width:1126px;
	height:1896px;
	position:absolute;
	left:167px;
	top:5395px;
}.e3_477 { 
	width:1126px;
	height:294px;
	position:absolute;
	left:0px;
	top:1602px;
}.e3_474 { 
	background-color:rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1);
	width:1126px;
	height:294px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
}.e3_482 { 
	color:rgba(26.000000350177288, 5.000000176951289, 29.000000171363354, 1);
	width:123px;
	height:29px;
	position:absolute;
	left:60px;
	top:18px;
	font-family:Rubik;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}.e3_476 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:976px;
	height:91px;
	position:absolute;
	left:60px;
	top:113px;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e3_458 { 
	width:1126px;
	height:686px;
	position:absolute;
	left:0px;
	top:886px;
}.e3_459 { 
	background-color:rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1);
	width:1126px;
	height:686px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
}.e3_473 { 
	color:rgba(26.000000350177288, 5.000000176951289, 29.000000171363354, 1);
	width:181px;
	height:29px;
	position:absolute;
	left:60px;
	top:19px;
	font-family:Rubik;
	text-align:left;
	font-size:17.26296615600586px;
	letter-spacing:0;
	line-height:px;
}.e3_460 { 
	width:1006px;
	height:254px;
	position:absolute;
	left:60px;
	top:63px;
}.e3_461 { 
	width:151px;
	height:254px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_949.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_463 { 
	width:151px;
	height:254px;
	position:absolute;
	left:171px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_950.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_465 { 
	width:151px;
	height:254px;
	position:absolute;
	left:342px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_951.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_467 { 
	width:151px;
	height:254px;
	position:absolute;
	left:513px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_952.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_469 { 
	width:151px;
	height:254px;
	position:absolute;
	left:684px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_953.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_471 { 
	width:151px;
	height:254px;
	position:absolute;
	left:855px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_954.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_418 { 
	width:1126px;
	height:710px;
	position:absolute;
	left:0px;
	top:146px;
}.e3_419 { 
	background-color:rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1);
	width:1126px;
	height:710px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e3_501 { 
	color:rgba(26.000000350177288, 5.000000176951289, 29.000000171363354, 1);
	width:97px;
	height:29px;
	position:absolute;
	left:66px;
	top:21px;
	font-family:Rubik;
	text-align:left;
	font-size:17.26296615600586px;
	letter-spacing:0;
	line-height:px;
}.e3_420 { 
	width:922.608154296875px;
	height:127.99298858642578px;
	position:absolute;
	left:66px;
	top:76.87060546875px;
}.e3_421 { 
	width:420.0654296875px;
	height:127.99298858642578px;
	position:absolute;
	left:0px;
	top:0px;
}.e3_422 { 
	width:420.0654296875px;
	height:74.42686462402344px;
	position:absolute;
	left:-0.00004072867159266025px;
	top:53.566123962402344px;
}.e3_423 { 
	background-color:rgba(254.00000005960464, 119.00000050663948, 64.00000378489494, 1);
	width:85.05908966064453px;
	height:74.42671966552734px;
	position:absolute;
	left:0px;
	top:0.00010885250958381221px;
}.e3_424 { 
	background-color:rgba(0, 0, 0, 1);
	width:85.05908966064453px;
	height:74.42671966552734px;
	position:absolute;
	left:111.66940307617188px;
	top:-0.00003725747956195846px;
}.e3_425 { 
	background-color:rgba(0, 163.00000548362732, 180.00000447034836, 1);
	width:85.05908966064453px;
	height:74.42671966552734px;
	position:absolute;
	left:223.33787536621094px;
	top:-0.00003725747956195846px;
}.e3_426 { 
	background-color:rgba(255, 255, 255, 1);
	width:85.05908966064453px;
	height:74.42671966552734px;
	position:absolute;
	left:335.00634765625px;
	top:-0.00003725747956195846px;
}.e3_427 { 
	color:rgba(26.000000350177288, 5.000000176951289, 29.000000171363354, 1);
	width:139px;
	height:29px;
	position:absolute;
	left:1.9180612564086914px;
	top:0.0000032397801987826824px;
	font-family:Rubik;
	text-align:left;
	font-size:17.26296615600586px;
	letter-spacing:0;
	line-height:px;
}.e3_428 { 
	width:420.065185546875px;
	height:127.99298858642578px;
	position:absolute;
	left:502.54296875px;
	top:0px;
}.e3_429 { 
	width:420.065185546875px;
	height:74.42686462402344px;
	position:absolute;
	left:0px;
	top:53.56612014770508px;
}.e3_430 { 
	background-color:rgba(150.0000062584877, 150.0000062584877, 153.00000607967377, 1);
	width:85.05908966064453px;
	height:74.42671966552734px;
	position:absolute;
	left:0px;
	top:0.00010885250958381221px;
}.e3_431 { 
	background-color:rgba(126.00000008940697, 126.00000008940697, 126.00000008940697, 1);
	width:85.05908966064453px;
	height:74.42671966552734px;
	position:absolute;
	left:111.6681900024414px;
	top:-0.00003725747956195846px;
}.e3_432 { 
	background-color:rgba(194.00000363588333, 195.0000035762787, 196.00000351667404, 1);
	width:85.05908966064453px;
	height:74.42671966552734px;
	position:absolute;
	left:223.33665466308594px;
	top:-0.00003725747956195846px;
}.e3_433 { 
	background-color:rgba(244.19520378112793, 244.19520378112793, 244.19520378112793, 1);
	width:85.05908966064453px;
	height:74.42671966552734px;
	position:absolute;
	left:335.006103515625px;
	top:-0.00003725747956195846px;
}.e3_434 { 
	color:rgba(26.000000350177288, 5.000000176951289, 29.000000171363354, 1);
	width:111px;
	height:29px;
	position:absolute;
	left:1.9181020259857178px;
	top:0px;
	font-family:Rubik;
	text-align:left;
	font-size:17.26296615600586px;
	letter-spacing:0;
	line-height:px;
}.e3_435 { 
	width:196.72848510742188px;
	height:127.99288940429688px;
	position:absolute;
	left:66px;
	top:253.927001953125px;
}.e3_436 { 
	width:196.72848510742188px;
	height:74.42676544189453px;
	position:absolute;
	left:-0.00004072867159266025px;
	top:53.56611633300781px;
}.e3_437 { 
	background-color:rgba(24.000000469386578, 119.00000050663948, 242.00000077486038, 1);
	width:85.05908966064453px;
	height:74.42671966552734px;
	position:absolute;
	left:0px;
	top:0px;
}.e3_438 { 
	background-color:rgba(254.00000005960464, 168.0000051856041, 68.00000354647636, 1);
	width:85.05908966064453px;
	height:74.42671966552734px;
	position:absolute;
	left:111.66940307617188px;
	top:-0.00004767105929204263px;
}.e3_439 { 
	color:rgba(26.000000350177288, 5.000000176951289, 29.000000171363354, 1);
	width:163px;
	height:29px;
	position:absolute;
	left:1.9180612564086914px;
	top:-0.000007173800440796185px;
	font-family:Rubik;
	text-align:left;
	font-size:17.26296615600586px;
	letter-spacing:0;
	line-height:px;
}.e3_440 { 
	width:92.06936645507812px;
	height:78.64251708984375px;
	position:absolute;
	left:505px;
	top:559.2919921875px;
}.e3_441 { 
	color:rgba(98.00000175833702, 112.000000923872, 121.00000038743019, 1);
	opacity:0.699999988079071;
	width:92.06916046142578px;
	height:42.1983642578125px;
	position:absolute;
	left:0.0002059486578218639px;
	top:36.44415283203125px;
	font-family:Rubik;
	text-align:left;
	font-size:16.303913116455078px;
	letter-spacing:0;
	line-height:px;
}.e3_442 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:83.43766784667969px;
	height:21.09918212890625px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:left;
	font-size:16.303913116455078px;
	letter-spacing:0;
	line-height:px;
}.e3_443 { 
	width:97.0003433227539px;
	height:84.39691162109375px;
	position:absolute;
	left:289px;
	top:553.53759765625px;
}.e3_444 { 
	color:rgba(98.00000175833702, 112.000000923872, 121.00000038743019, 1);
	opacity:0.699999988079071;
	width:92.06916046142578px;
	height:42.1983642578125px;
	position:absolute;
	left:0px;
	top:42.19854736328125px;
	font-family:Rubik;
	text-align:left;
	font-size:16.303913116455078px;
	letter-spacing:0;
	line-height:px;
}.e3_445 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:97px;
	height:27px;
	position:absolute;
	left:0.0003411569632589817px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:21.099180221557617px;
	letter-spacing:0;
	line-height:px;
}.e3_446 { 
	width:92.06932067871094px;
	height:76.72447967529297px;
	position:absolute;
	left:706px;
	top:560.2509765625px;
}.e3_447 { 
	color:rgba(98.00000175833702, 112.000000923872, 121.00000038743019, 1);
	opacity:0.699999988079071;
	width:92.06916046142578px;
	height:42.1983642578125px;
	position:absolute;
	left:0.00016384034825023264px;
	top:34.52611541748047px;
	font-family:Rubik;
	text-align:left;
	font-size:16.303913116455078px;
	letter-spacing:0;
	line-height:px;
}.e3_448 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:67px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:left;
	font-size:14.385805130004883px;
	letter-spacing:0;
	line-height:px;
}.e3_449 { 
	width:143.85804748535156px;
	height:217.80410766601562px;
	position:absolute;
	left:66px;
	top:443.1474609375px;
}.e3_450 { 
	width:103px;
	height:29px;
	position:absolute;
	left:0.0001766832428984344px;
	top:0px;
}.e3_451 { 
	color:rgba(26.000000350177288, 5.000000176951289, 29.000000171363354, 1);
	width:103px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:left;
	font-size:17.26296615600586px;
	letter-spacing:0;
	line-height:px;
}.e3_452 { 
	width:143.85804748535156px;
	height:163.03912353515625px;
	position:absolute;
	left:0px;
	top:54.764991760253906px;
}.e3_453 { 
	box-shadow:0px 0px 1.9181073904037476px rgba(0, 0, 0, 0.15000000596046448);
	background-color:rgba(255, 255, 255, 1);
	width:143.85804748535156px;
	height:163.03912353515625px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:3.836214780807495px;
}.e3_454 { 
	color:rgba(29.000000171363354, 32.00000189244747, 41.00000135600567, 1);
	width:63.297542572021484px;
	height:57.54322052001953px;
	position:absolute;
	left:40.28010177612305px;
	top:24.9356689453125px;
	font-family:Roboto;
	text-align:left;
	font-size:47.95268249511719px;
	letter-spacing:0;
	line-height:px;
}.e3_455 { 
	color:rgba(29.000000171363354, 32.00000189244747, 41.00000135600567, 1);
	width:77.683349609375px;
	height:27.812557220458984px;
	position:absolute;
	left:33.56674575805664px;
	top:120.84101104736328px;
	font-family:Rubik;
	text-align:center;
	font-size:11.508644104003906px;
	letter-spacing:0;
	line-height:px;
}.e3_456 { 
	background-color:rgba(215.98500072956085, 215.98500072956085, 215.98500072956085, 1);
	opacity:0.4000000059604645;
	width:95.9053726196289px;
	height:0.9590536952018738px;
	position:absolute;
	left:23.976234436035156px;
	top:107.41429901123047px;
}.e3_415 { 
	width:1054px;
	height:121px;
	position:absolute;
	left:0px;
	top:0px;
}.e3_416 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:389px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e3_417 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:1054px;
	height:56px;
	position:absolute;
	left:0px;
	top:65px;
	font-family:Rubik;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e2_130 { 
	width:1126px;
	height:612px;
	position:absolute;
	left:159px;
	top:3763px;
}.e2_136 { 
	width:1126px;
	height:592px;
	position:absolute;
	left:0px;
	top:20px;
}.e2_134 { 
	width:1126px;
	height:592px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rounded_rectangle.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_131 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:146px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e3_6 { 
	width:1126px;
	height:880px;
	position:absolute;
	left:167px;
	top:4445px;
}.e3_7 { 
	width:1054px;
	height:177px;
	position:absolute;
	left:0px;
	top:0px;
}.e3_8 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:497px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e3_9 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:1054px;
	height:112px;
	position:absolute;
	left:0px;
	top:65px;
	font-family:Rubik;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e3_10 { 
	width:1126px;
	height:686px;
	position:absolute;
	left:0px;
	top:194px;
}.e3_11 { 
	background-color:rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1);
	width:1126px;
	height:686px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
}.e2_89 { 
	width:1126px;
	height:667px;
	position:absolute;
	left:159px;
	top:2891px;
}.e2_90 { 
	width:199px;
	height:40px;
	position:absolute;
	left:8px;
	top:0px;
}.e2_91 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:199px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e2_93 { 
	width:1126px;
	height:528px;
	position:absolute;
	left:0px;
	top:139px;
}.e2_94 { 
	background-color:rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1);
	width:1126px;
	height:528px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
}.e2_87 { 
	width:1139px;
	height:1027px;
	position:absolute;
	left:154px;
	top:1794px;
}.e2_75 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:302px;
	height:40px;
	position:absolute;
	left:8px;
	top:0px;
	font-family:Rubik;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e2_76 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:1131px;
	height:112px;
	position:absolute;
	left:8px;
	top:65px;
	font-family:Rubik;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e2_86 { 
	width:1139px;
	height:818px;
	position:absolute;
	left:0px;
	top:209px;
}.e2_77 { 
	width:555px;
	height:532px;
	position:absolute;
	left:13px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rectangle_945.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_79 { 
	background-color:rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1);
	width:555px;
	height:400px;
	position:absolute;
	left:584px;
	top:2px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e2_83 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:213px;
	height:84px;
	position:absolute;
	left:755px;
	top:165px;
	font-family:Rubik;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e2_78 { 
	background-color:rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1);
	width:555px;
	height:270px;
	position:absolute;
	left:13px;
	top:548px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e2_80 { 
	background-color:rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1);
	width:555px;
	height:400px;
	position:absolute;
	left:584px;
	top:418px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e205_18 { 
	background-color:rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1);
	width:555px;
	height:523px;
	position:absolute;
	left:0px;
	top:2px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e2_85 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:213px;
	height:84px;
	position:absolute;
	left:752px;
	top:571px;
	font-family:Rubik;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e2_70 { 
	width:1115px;
	height:177px;
	position:absolute;
	left:162px;
	top:1435px;
}.e2_71 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:83px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e2_72 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:1115px;
	height:112px;
	position:absolute;
	left:0px;
	top:65px;
	font-family:Rubik;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e2_73 { 
	width:1130px;
	height:391px;
	position:absolute;
	left:163px;
	top:974px;
}.e2_55 { 
	width:599px;
	height:317px;
	position:absolute;
	left:0px;
	top:8px;
}.e2_56 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:549px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}.e2_57 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:599px;
	height:252px;
	position:absolute;
	left:0px;
	top:65px;
	font-family:Rubik;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e2_63 { 
	width:454px;
	height:391px;
	position:absolute;
	left:676px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rectangle_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_88 { 
	width:1243px;
	height:364px;
	position:absolute;
	left:162px;
	top:565px;
}.e2_58 { 
	width:1243px;
	height:166px;
	position:absolute;
	left:0px;
	top:198px;
}.e2_45 { 
	width:331px;
	height:83px;
	position:absolute;
	left:0px;
	top:2px;
}.e2_46 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	opacity:0.5;
	width:93px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e2_47 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:330px;
	height:56px;
	position:absolute;
	left:1px;
	top:27px;
	font-family:Rubik;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e2_48 { 
	width:331px;
	height:111px;
	position:absolute;
	left:393px;
	top:2px;
}.e2_49 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	opacity:0.5;
	width:52px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e2_50 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:330px;
	height:84px;
	position:absolute;
	left:1px;
	top:27px;
	font-family:Rubik;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e2_51 { 
	width:457px;
	height:166px;
	position:absolute;
	left:786px;
	top:0px;
}.e2_52 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	opacity:0.5;
	width:265.0876159667969px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e2_53 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:455.61932373046875px;
	height:140px;
	position:absolute;
	left:1.3806647062301636px;
	top:26px;
	font-family:Rubik;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e2_54 { 
	width:1197px;
	height:152px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_6991 { 
	color:rgba(28.68749924004078, 25.57968780398369, 26.615626215934753, 1);
	width:1197px;
	height:38px;
	position:absolute;
	left:0px;
	top:114px;
	font-family:Rubik;
	text-align:left;
	font-size:16px;
	letter-spacing:0.15000000596046448;
}.e1_6990 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:167px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Rubik;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e2_44 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:397px;
	height:57px;
	position:absolute;
	left:0px;
	top:39px;
	font-family:Rubik;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e1_6971 { 
	background-color:rgba(87.12500050663948, 87.12500050663948, 87.12500050663948, 1);
	width:1440px;
	height:506px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_6972 { 
	box-shadow:0px 5.855260372161865px 23.42104148864746px rgba(14.866147488355637, 28.469683527946472, 48.87499898672104, 0.07999999821186066);
	transform: rotate(1.5902773407317584e-15deg);
	background-color:rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1);
	width:274.46533203125px;
	height:594.3089599609375px;
	position:absolute;
	left:247px;
	top:168px;
	border-top-left-radius:20.493410110473633px;
	border-top-right-radius:20.493410110473633px;
	border-bottom-left-radius:20.493410110473633px;
	border-bottom-right-radius:20.493410110473633px;
}.1_6972 { 
	border:18px solid rgba(54.18750151991844, 54.18750151991844, 54.18750151991844, 1);
}.e1_6974 { 
	width:274.46533203125px;
	height:24.884857177734375px;
	position:absolute;
	left:-0.00048828125px;
	top:569.424072265625px;
}.e202_14 { 
	transform: rotate(-1.5902773407317584e-15deg);
	width:274px;
	height:594px;
	position:absolute;
	left:0px;
	top:-72px;
	background-image:url(images/screen_2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_6975 { 
	box-shadow:0px 5.855260372161865px 23.42104148864746px rgba(14.866147488355637, 28.469683527946472, 48.87499898672104, 0.07999999821186066);
	transform: rotate(1.5902773407317584e-15deg);
	background-color:rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1);
	width:274.46533203125px;
	height:594.3089599609375px;
	position:absolute;
	left:919px;
	top:155px;
	border-top-left-radius:20.493410110473633px;
	border-top-right-radius:20.493410110473633px;
	border-bottom-left-radius:20.493410110473633px;
	border-bottom-right-radius:20.493410110473633px;
}.1_6975 { 
	border:18px solid rgba(54.18750151991844, 54.18750151991844, 54.18750151991844, 1);
}.e1_6977 { 
	width:274.46533203125px;
	height:24.884857177734375px;
	position:absolute;
	left:-0.00048828125px;
	top:569.424072265625px;
}.e202_16 { 
	transform: rotate(-1.5902773407317584e-15deg);
	width:274px;
	height:593px;
	position:absolute;
	left:0px;
	top:-71px;
	background-image:url(images/screen_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_6978 { 
	box-shadow:0px 5.855260372161865px 23.42104148864746px rgba(14.866147488355637, 28.469683527946472, 48.87499898672104, 0.07999999821186066);
	transform: rotate(1.5902773407317584e-15deg);
	background-color:rgba(241.00000083446503, 241.00000083446503, 241.00000083446503, 1);
	width:274.46533203125px;
	height:594.3089599609375px;
	position:absolute;
	left:582.7666015625px;
	top:131px;
	border-top-left-radius:20.493410110473633px;
	border-top-right-radius:20.493410110473633px;
	border-bottom-left-radius:20.493410110473633px;
	border-bottom-right-radius:20.493410110473633px;
}.1_6978 { 
	border:18px solid rgba(54.18750151991844, 54.18750151991844, 54.18750151991844, 1);
}.e1_6980 { 
	width:274.46533203125px;
	height:24.884857177734375px;
	position:absolute;
	left:-0.00048828125px;
	top:569.424072265625px;
}.e202_17 { 
	transform: rotate(-1.5902773407317584e-15deg);
	width:279px;
	height:604px;
	position:absolute;
	left:-2.7666015625px;
	top:-130px;
	background-image:url(images/2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_6984 { 
	color:rgba(255, 255, 255, 1);
	width:679px;
	height:57px;
	position:absolute;
	left:439px;
	top:27px;
	font-family:Rubik;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e205_8 { 
	width:434px;
	height:515px;
	position:absolute;
	left:215px;
	top:2003px;
	background-image:url(images/4_wireframe.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e205_15 { 
	width:406px;
	height:262px;
	position:absolute;
	left:263px;
	top:2559px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e205_20 { 
	width:496px;
	height:384px;
	position:absolute;
	left:773px;
	top:2429px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e205_22 { 
	width:385px;
	height:394px;
	position:absolute;
	left:819px;
	top:2011px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e302_8 { 
	width:663px;
	height:513px;
	position:absolute;
	left:392px;
	top:3045px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_405 { 
	width:1070px;
	height:646.8557739257812px;
	position:absolute;
	left:174px;
	top:4676.9091796875px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_950.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e302_10 { 
	width:551px;
	height:218px;
	position:absolute;
	left:164px;
	top:7399px;
	background-image:url(images/2x2_matrix_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}